body {
    font-family: 'Roboto', arial;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }


.header {
    display: flex;
    color: #f9faf8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
    justify-content: space-between;
  }

  .left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .right{
    padding-right: 20px;
  }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #f9faf8;
  background-color: #1F2937;
}

  .hero1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #f9faf8;
    background-color: #1F2937;
    padding: 90px;
    flex-basis: auto;
  }



  .image img {
    width: 500px;
    height: 350px;
  }

  .section1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #f9faf8;
    background-color: #1F2937;
    padding: 90px;
  }


  .footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section {
   flex-shrink: 0;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    margin-bottom: 32px;
    width: 99%;
    padding: 20px;
    background-color: rgb(27, 83, 83);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 96px;
  }




  button {
    padding: 8px 16px;
    border-radius: 4px;
    margin: 2px;
    color: white;
    background-color: blue;
  }


  .logo {
    font-size: 32px;
    font-weight: 900;
  }


  /* Section 2*/

  .section2 {
    display: flex;
    padding: 32px;
    flex-wrap: wrap;
    justify-content: center;


  }
.card {
  padding: 16px;
  margin: 16px;
  width: 200px;
}

  .card img{
    width: 200px;
    height: 200px;
  }

  h1 {
    text-align: center;
  }