body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header {
    height: 72px;
    background-color: rgb(27, 83, 83);
    color: white;
    display: flex;
    align-items: center;

    font-size: 32px;
    font-weight: 900;
    justify-content: space-between;

    padding-bottom: 48px;
    padding-left: 48px;
  }


  .footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section {
flex-shrink: 0;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    margin-bottom: 32px;
    width: 99%;
    padding: 20px;
    background-color: rgb(27, 83, 83);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 96px;
  }




  .textSubtext {
    width: 20%;

  }


  button {
    padding: 8px 16px;
    border-radius: 4px;
    margin: 2px;
    color: white;
    background-color: blue;
  }


 .text1 {
      align-items: center;
      font-size: 24px;
      color: rgb(252, 252, 252);
  }

  .subtext {
    margin-bottom: 20px;
  }

  .logo {
    font-size: 32px;
    font-weight: 900;
  }

  .left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  